<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringKafkaApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="exempluSpringKafka" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.sd.laborator.SpringKafkaApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>